</div>
<footer>
    <div id="footer-home">
        <img src="/assets/logo_linkedin.png" alt="Linkedin white logo">
        <img src="/assets/logo_twitter.png" alt="Twitter white logo">
        <img src="/assets/logo_facebook.png" alt="Facebook white logo">
    </div>
</footer>
</div>
</body>
</html>